/* Make sure the width and height consider element's margin padding and border */

html {

    box-sizing: border-box;
  }
  
/*
   1* Make all elements from the DOM inherit from the parent box-sizing 
   2* Remove the default margin and padding 
   3* Remove default list-style
*/
 
*,
*::before,
*::after {

    box-sizing: inherit; // 1
    margin: 0; // 2
    padding:0; // 2
    list-style: none; // 3
  }
  