body {

    overflow-x: hidden;
}
section {
    
    padding-left: $smlscreen;
    padding-right: $smlscreen;
    padding-top: 3.6rem;

    @media (min-width: map-get($breakpoints,'medium')) {

        padding-left: $mdscreen;
        padding-right: $mdscreen;
    }

    &:not(.hero) {

        @media (min-width: map-get($breakpoints,'large')) {

            padding-left: $lgscreen;
            padding-right: $lgscreen;
        }
    }

}

/* hero section */
.hero {

    @include displayflex(column, space-between, center,3.3rem);
    position: relative;
    text-align: center;
    margin-bottom: 5.5rem;

    @media (min-width: map-get($breakpoints,'large')) {

        padding-top: 5rem;
        padding-left: $lgscreen;
        padding-right: 5vw;
    }

    &--img {

        width:115%;
        height: auto;
        position: relative;
        
        img {
            
            width: 100%;
            margin: auto;
        }

        .blue-bg {

            @include bgblock;

        }
    }

    &--intro {

        @include displayflex(column,center,center,1.3rem);

        &-download {

            @include displayflex(row,center,center,10px);
            padding-top: 0.5rem;
        }
    }

    @media (min-width:map-get($breakpoints,'medium')) {

        @include displayflex(row,space-between,center,3rem);

        &--intro {

            order: -1;
            @include displayflex(column,center,start,2rem);
            text-align: left;

            h1 {

                line-height: 50px;
            }
        }

        &--img {

            width:150%;
        }
        
    }
}

/* features section */
.features {

    @include displayflex(column,space-between,center,2rem);
    text-align: center;
    margin-bottom: 9rem;

    &--intro {

        @include displayflex(column,center,center,1rem);
        @media (min-width:map-get($breakpoints,'large')) {

            p {
    
                width: 53%;
            }
        }
    }

    &--list {

        position: relative;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 2rem;

        ul {

            @media (min-width: map-get($breakpoints,'medium')) {

                @include displayflex(row,space-around,center);
                border-bottom: $border;
                margin: auto;
                width: 60vw;
                max-width: 40em;

                .red-border {

                    display: none;
                }

                li, li:last-of-type {

                    border: none;
                    text-align: center;
                    padding: 1rem 0.5rem;

                    &.active {

                        border-bottom: 5px solid $secondarycolor;
                    }
                }
            }
        }

        li {

            position: relative;
            border-top: $border;
            padding: 1.2rem 0;
            color: $textcolor;
            cursor: pointer;

            &.active {

                color: $tertiarycolor;
            }

            &:hover {

                color: $secondarycolor;
            }

            &:last-of-type {

                border-bottom: $border;
            }
        }
    }

    > div:not(.features--intro,.features--list) {

        position: relative;
        text-align: center;
    }
    
    .image {
    
        width: 100%;
        height: auto;
        @media (max-width:map-get($breakpoints,'medium')){

            margin-bottom: 15vw;
        }


        img {
            
            width: 100%;
        }

        .blue-bg {

            @include bgblock(false);
        }
    }

    .red-border.active {

        position: absolute;
        left: 50%;
        transform: translate(-50%,-100%);
        width: 38%;
        max-width: 150px;
        height: 5px;
        background-color: $secondarycolor;
    }

    button {

        display: none;
    }
}

.bookmark {
    

    &--text {

        @include displayflex(column,center,center,1rem)
    }

    @media (min-width: map-get($breakpoints,'medium')) {

        @include displayflex(row,space-between,center,8vw);

        .image {

            flex: 3;
        }
        .blue-bg {

            max-width: 63%;
            max-height: 30vw;

            @media (min-width:map-get($breakpoints,'large')) {

                max-height: 25vw;
                
            }
        }

        &--text {

            @include displayflex(column,center,start,2rem);
            text-align: left;
            flex: 2;
        }

        button {

            display: block;
        }
        
    }
}

.search {

    .image {

        .blue-bg {
            
            transform: translateY(12.5vw);
        }
    }

    &--text {

        @include displayflex(column,center,center,1rem);
        
        @media (max-width:map-get($breakpoints,'medium')){

            margin-top: 5rem;
        }
    }

    @media (min-width: map-get($breakpoints,'medium')) {

        @include displayflex(row,space-between,center,8vw);

        .image {

            flex: 3;
        }
        .blue-bg {

            width: 80vw !important;
            height: 35vw !important;
            left: -37vw !important;
            top: -2vw !important;

            @media (min-width:map-get($breakpoints,'large')) {

                max-height: 25vw;
                
            }
        }

        &--text {

            @include displayflex(column,center,start,2rem);
            text-align: left;
            flex: 2;
        }

        button {

            display: block;
        }
        
    }
}

.share {

    .image {

        .blue-bg {
            
            transform: translateY(12.5vw);
        }
    }

    &--text {

        @include displayflex(column,center,center,1rem);
        
        @media (max-width:map-get($breakpoints,'medium')){

            margin-top: 5rem;
        }
    }

    @media (min-width: map-get($breakpoints,'medium')) {

        @include displayflex(row,space-between,center,8vw);

        .image {

            flex: 3;
            

            
        }
        .blue-bg {

            width: 70vw !important;
            height: 35vw !important;
            left: -37vw !important;
            top: -2vw !important;

            @media (min-width:map-get($breakpoints,'large')) {

                max-height: 28vw;
                
            }
        }

        &--text {

            @include displayflex(column,center,start,2rem);
            text-align: left;
            flex: 2;
        }

        button {

            display: block;
        }
        
    }
}

.visually-hidden {

    &, * {
        
        display: none;
    }
}

/* extensions section */

.extensions {

    @include displayflex(column,center,center,2.4rem);
    text-align: center;
    margin-bottom: 9rem;

    &--intro {

        @include displayflex(column,center,center,1rem);

        @media (min-width:map-get($breakpoints,'large')) {

            p {
    
                width: 53%;
            }
        }
    }
    

    &--cards {

        @include displayflex(column,space-between,center,2rem);

        @media (min-width:map-get($breakpoints,'lmedium')){

            @include displayflex(row,center,center,2.5rem);
            width: 100%;

            @media (min-width:map-get($breakpoints,'large')){

                height:28rem;

                &-chrome {

                    align-self: start;
                }

                &-opera {

                    align-self: end;
                }
            }
        }
    }

}

/* questions section */

.questions {

    @include displayflex(column,center,center,3rem);
    margin-bottom: 9rem !important;

    @media (min-width:map-get($breakpoints,'large')) {

            width: 60%;
            margin: 0 auto;
    }

    &--intro {

        @include displayflex(column,center,center,1rem);
        text-align: center;
    }
}
.contact {

    @include displayflex(column,center,center);
    background-color: $primarycolor;
    padding: 5rem 0;

    @media (min-width:map-get($breakpoints,'large')) {

        > * {

            max-width: 53% !important;
        }
    }
    
    h3 {

        color: white;
        font-size: 17px;
        font-weight: $normal;
        letter-spacing: 5px;
    }

    h2 {

        color: white;
        text-align: center;
        margin-top: 1.5rem;
        line-height: 35px;
    }

    form {

        @include displayflex(column,center,center);
        margin-top: 2rem;
        width: 100%;

        @media (min-width:map-get($breakpoints,'medium')) {

            @include displayflex(row,center,center,15px);
            max-width: 700px;

            label {

                flex: 3;
            }

            #submit {

                flex: 1;
            }
        }

        label {

            width: 83%;
            position: relative;

            input {

                width: 100%;
                padding:0.95rem 1.2rem;
                border-radius: 6px ;
                border: none;
                font-size: 14px;
                color: gray;
                font-weight: $bold;
            }

            input.invalid {
                
                border: 4px solid $secondarycolor;
                background-image: url("../../../images/icon-error.svg");
                background-repeat: no-repeat;
                background-position: 97% ;
            }
        }
        

        p.error {

            display: none;
            background-color: $secondarycolor;
            color: white;
            width: 83%;
            font-size: 11px;
            font-style: italic;
            font-weight: $bold;
            padding-left: 0.4rem;
        }

        input {

            width: 83%;
            box-shadow: none;
            margin-top: 1rem;
        }

    }
}