header {

    @include displayflex(row,space-between,center);
    padding: 2.5em $smlscreen 1rem $smlscreen;  
    
    .logo {

        position: relative;
        z-index: 999;
        height: 100%;
        @include displayflex(column,end ,center);
    }

    @media (min-width: map-get($breakpoints, 'medium')) {
        
        padding: 3em $mdscreen 1rem $mdscreen ;
    }

    @media (min-width: map-get($breakpoints, 'large')) {

        @include displayflex(row,space-between,center);
        padding: 3em $lgscreen 1rem $lgscreen;
    }
}

.nav-logo svg path {
    
    fill: white;
}